<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873875055540-571mjjns07l7d0orm20nkeqr07p6s93m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873875055540-571mjjns07l7d0orm20nkeqr07p6s93m</string>
	<key>API_KEY</key>
	<string>AIzaSyARwmj8SRKZKuXtNxe2ft9SXVXM9xnjKJU</string>
	<key>GCM_SENDER_ID</key>
	<string>873875055540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommrce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-389c9</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-389c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873875055540:ios:c1eb89810c4b1f6cf288e1</string>
</dict>
</plist>